* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f6f7fb;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 40px;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo {
    font-size: 22px;
    font-weight: 700;
    color: #007bff;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #444;
    font-weight: 500;
}

.menu-btn {
    display: none;
    font-size: 26px;
    cursor: pointer;
}

/* PAGE WRAPPER */
.container {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    padding: 40px;
    gap: 40px;
}

/* IMAGE */
.image-section img {
    width: 100%;
    border-radius: 12px;
    filter: brightness(75%);
}

/* TEXT SECTION */
.back {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

h1 {
    margin-top: 10px;
    font-size: 36px;
    font-weight: 700;
}

.desc {
    margin: 15px 0 20px;
    color: #555;
    line-height: 1.7;
}

.map-btn {
    background: #e8f1ff;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    color: #0a58ca;
    font-weight: 600;
}

.price {
    margin: 25px 0;
    font-size: 20px;
}

.highlight {
    color: #007bff;
    font-weight: 700;
}

.old-price {
    margin-left: 10px;
    text-decoration: line-through;
    color: #999;
}


/* FORM BOX */
.form-box {
    background: #0b63e6;
    padding: 20px 25px;
    border-radius: 15px;
    color: #fff;
    padding-right: 10px;
}

.buy-btn {
  margin-top: 10px;
  width: 150px;
  height: 30px;
  font-size: 18px;
  background-color: #0b63e6;
  color: #fff;
  box-shadow: 5px 5px 10px gray;
  border-radius: 10px;
}
/* Footer */
footer {
  background: #0b63e6;
  color: #fff;
  padding: 2rem 0;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-bottom: 1rem;
}

footer h3 {
  margin-bottom: 10px;
}

footer ul {
  list-style: none;
}

footer ul li {
  margin-bottom: 5px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  font-size: 0.9rem;
  opacity: 0.8;
}

/* Responsive */
@media (max-width: 768px) {
  .hero-content h2 {
    font-size: 1.8rem;
  }
}
