* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f9f9f9;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

/* NAVBAR */
.navbar {
    background: white;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    position: sticky;
  top: 0;
  z-index: 100
}

.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #0b63e6;
    font-size: 29px;
    font-weight: 700;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-left: 25px;
}

nav a {
    text-decoration: none;
    color: #0b63e6;
    font-weight: 500;
}

nav a:hover {
    color: #000000;
}

#menu-icon {
    color: #000;
}

/* ICON MENU */
.menu-icon {
    font-size: 24px;
    display: none;
}

/* HERO */
.hero {
  background: url('WIsata Buatan.png') center/cover no-repeat;
  height: 680px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}

.hero-content {
  position: relative;
  z-index: 1;
  max-width: 700px;
}

.hero h2 {
  font-size: 40px;
  margin-bottom: 16px;
}

.hero span {
  color: #ffffff;
  font-weight: bold;
}

.hero p {
  margin-bottom: 32px;
  font-size: 18px;
}

.button {
  background: linear-gradient(to right, #0157AD, #4E9CFF);
  color: white;
  padding: 12px 24px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

/* SECTION */
.section {
    padding: 50px 0;
    text-align: center;
}

.section-title {
    font-size: 28px;
    color: #0b63e6;
    margin-bottom: 30px;
}

/* GRID CARD */
.grid-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background: white;
    border-radius: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 6px 15px rgba(0,0,0,0.1);
    overflow: hidden;
    text-align: left;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card h3 {
    margin: 10px 15px 5px;
    color: #0b63e6;
}

.card .rating {
    margin: 5px 15px;
    font-size: 14px;
    color: #ffb100;
}

.card p {
    margin: 0px 15px 10px;
    color: #444;
    font-size: 14px;
}

.box:active {
    transform: translateY(4px);
    box-shadow: 0px 2px 0px #ff0000; 
}

.buy-btn {
  margin-top: 3px;
  margin-left: 10px;
  width: 100px;
  height: 20px;
  font-size: 12px;
  background-color: #0b63e6;
  color: #fff;
  box-shadow: 5px 5px 10px rgb(156, 205, 225);
  border-radius: 10px;
}

/* FOOTER */
footer {
    background: #0b63e6;
    color: white;
    padding: 40px 0 20px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 30px;
}

footer h3 {
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
}

footer li {
    margin-bottom: 5px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.sosmed a {
    font-size: 24px;
    margin-right: 10px;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    opacity: 0.8;
    font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    nav ul {
        display: none;
    }
    .menu-icon {
        display: block;
    }

    .hero-content h2 {
        font-size: 28px;
    }
}
